
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
 

}

footer {

  background-color: rgb(209, 199, 199);
  margin-top: auto !important;


  padding: 10px;
  text-align: center;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.18), 0 4px 8px rgba(0,0,0,.08);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.card{
  border :0 !important;

}
.list-group-item{
border :0 !important;
 
}

html, body, div, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}




body{
  background-color:#202C37 !important;

}

.navdark {
  background: #2e3c48;
  height: 65px; 
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 2;
  font-weight: 800 !important;
  font-stretch: semi-expanded;
}
.navlight {
  background: white;
  height: 65px; 
  box-shadow: 0 1px 3px 1px rgb(0 0 0 / 20%);
  position: relative;
  z-index: 2;
  font-weight: 800 !important;
  font-stretch: semi-expanded;
}


.title{
  color: white;
}


.darktheme{
  border :0 !important;
  background-color: #2B3945!important;
  color:white !important;

  
}

.lighttheme{
  border :0 !important;
  background-color: rgba(251, 248, 248, 0.918)!important;
  color:black !important;

 
  
}

.moon{
  color:goldenrod;
}
.darkicon{
  color:white;

}
.iconstyles{
  padding-left: 10%;
}




.masterBoss {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  text-decoration: none;
  letter-spacing: 6px;
  font-size: 1.2rem;
  -webkit-transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  -moz-transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  -ms-transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  -o-transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.masterBoss:hover {
  box-shadow: inset 200px 0 0 0 #54b3d6;
  color: white;
}

.filters{
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.wid{
  width:30% !important
}
@media screen and (min-width: 0) and (max-width: 750px) {
.details h4{
  margin-top: 8% !important;
}
.details ul{
  padding-left: 1% !important;
}
.card{
  margin-left: 5% !important;

}
.input-group{
  width: 180px !important;
    }

    .details{
      padding-left: 8% !important;
  
    padding-bottom: 12% !important;
  
    }
  

    .filters{
      display: flex !important;
      flex-direction: column;
      justify-content: space-evenly;
    }
    
    .wid{
      width:auto !important
    }

    .row{
      --bs-gutter-x:0 !important;
    }

  }
.details img{
width: 80% !important;

}
.load{

color: palevioletred !important;
  
}
.loadtop{
  margin-top: 0%;
}

.banner{
  background-image: url("/src/World\ Flags\ 11854\ Hd\ Wallpapers\ in\ Travel\ n\ World\ \ \ Imagescicom\ \(1\).png");
  overflow: hidden;
  display: flex ;
  flex-direction: row;
  justify-content: space-between;

}
/* .loginbackground{


  overflow: hidden;
  width: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 40vh;
  position: relative;
  transform: skewY(-30deg);
  -webkit-transform: skewY(-30deg);
  -moz-transform: skewY(-30deg);
  -ms-transform: skewY(-30deg);
  -o-transform: skewY(-30deg);
  margin-top: -5%;
  margin-left:-25% ;
  /*margin-bottom: 20%;
  */


  .bannerlayout {
    width: 100%;
    
    height: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
  }
  .bannercontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    


  }

  .playNowButton{
background-color: #2e3c48;
color: white;
border-radius: 10px;
border-color: transparent;
padding: 10px 20px;
font-size: 1.5rem;
text-transform: capitalize;
box-shadow: #86add13a 0px 0px 9px 0px;
transition: all 0.3s ease 0s;
text-decoration: none;
  }

.playNowButton:hover{
color: rgb(216, 189, 153);
  background-color: #0f1a24;
}

.flagGameChooseParent{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
width: 100%;
height: 100%;

}

.singlePlayer{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1d2730;

}

.twoPlayer{
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #576b7c;

}
.singlePlayerText{
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;

}
.twoPlayerText{
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;

}
.singlePlayer:hover{
  background-color: #0f1a24;
}
.twoPlayer:hover{
  background-color: #3e4f5b;
}

#next{
  display: block;
  visibility:hidden;
  background-color: antiquewhite;
}

.flagGame {
  width: 30vw; /* Set the width to 100% of the viewport width */
  height: 80vh; /* Set the height to 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #54b3d6;
  border-radius: 10px;
  background-color: #1d2730;
  margin: 0 auto; /* Horizontally center the div */
margin-top: 10px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.flagGame img {
  width: 450px;
height: 250px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid transparent;
  

}
.countryButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-width: 50%;
  margin-top: 20px;

}

.countryButtons button {
  flex: 1;
  /*Distributeequalwidthtoallbuttons*/width: 100%;
  /*Ensurebuttonstakeupthefullwidthofthecontainer*/margin: 1%;
  padding: 1%;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: goldenrod;
  color: rgb(5, 5, 5);
  font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: #86add13a 0px 0px 9px 0px;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.candidateCountry{
  display: flex;
  flex-direction: row;
justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.correct {
  background-color: rgba(14, 75, 14, 0.836) !important;
  color: rgb(238, 226, 226) !important;
}

.incorrect {
  background-color: rgba(168, 30, 30, 0.733) !important;
  color: rgb(238, 226, 226) !important; 
}
.score{
  color: white;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  background-color: brown;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  box-shadow: #86add13a 0px 0px 9px 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}